.container {
  background: url("../assets/bg-ball.png") no-repeat center center;
  background-size: contain;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverEffect:hover{
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px blue;}
}